$position: ('top','right','bottom','left');

$number_start: 0;
$number_end: 100;

$media_xs: "(max-width: 575px)";
$media_sm: "(min-width: 576px) and (max-width: 767px)";
$media_md: "(min-width: 768px) and (max-width: 991px)";
$media_lg: "(min-width: 992px) and (max-width: 1199px)";
$media_xl: "(min-width: 1200px)";